<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Exam</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />
  </head>

  <body>


    <div class="wrapper">
      <div class="welcome-text">
        <form
          class="welcome-form" action="/mainpage"
        >
          <input type="text" />
          <button type="submit">Start Exam</button>
        </form>
        <div class="welcome-text">
          <div class="welcome-form">
            <a href="/test" class="btn btn-dark">Start Test<i>(JS version)</i></a>
          </div>
        </div>

      </div>
    </div>
    <script src="static/app.js"></script>
  </body>
</html>
